h1 {
  margin-left: 30px;
  margin-right: 30px;
}

h1, h2 {
  color: white;
  text-shadow: 1px -1px 11px black;
  font-family: 'Acme', sans-serif;
}

body {
  background-color: #63e4a3;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Mali', cursive;
  font-size: 1.2em;
}

a {
  color: #36486b;
  text-decoration: none;
}

.langLink {
/*  background-color: #63e4a3; */
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
  justify-content: center;
}

#leftLink {
  margin-right: 2em;
}

#rightLink {
  margin-left: 2em;
}

div {
    background: #63e4a3;
    padding: 20px;
    margin-bottom: 20px;
}

#header {
  display: flex;
  justify-content: center;
}

#header p {
  width: 90%;
}

#dictionary {
  padding-top: 0px;
}

#currentDictionary {
  padding-top: 0px;
  color: #36486b;
}

#dictionary_form {
  display: flex;
  flex-direction: column;
}

#buttonAddDict {
  margin: auto;
  padding-bottom: 1em;
}

#addWordDiv, #viewDictionary, #test {
  display: flex;
  justify-content: center;
  text-align: center;
}

#show_add_words_button, #show_words_button, #show_test, #words_table {
  margin: 0 auto;
}

#message {
  margin: 2em;
  color: #c1502e;
}

#errorMsg {
  color: #c1502e;
}

#hide_words_button, #addWordTwo, #testNbrQuestion, #testResultComment {
  margin-bottom: 1em;
}

#updateWord {
  margin-bottom: 0.2em;
}

.goodWordResult {
  color: #36486b;
}
#wrongRep {
  color: red;
}

.trHide {
  display: none;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    color: #36486b;
    text-decoration: none;
}

#addW {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 220px;
  font-size: 1em;
}

#addWord1 {
  margin-bottom: 1em;
}

#show_words_div {
  margin-bottom: 0;
  padding-bottom: 0;
}
