#dictionary {
    border-top: solid #2e3f61;
    margin-bottom: 0;
}

#viewDictionary{
  border-top: solid #2e3f61;
  border-width: 3px;
  margin-bottom: 0;
}

#test {
  border-top: solid #2e3f61;
  margin-bottom: 0;
}

#deconnexion {
  border-top: solid #2e3f61;
}
